Phase_3_1__IRAC_Only_Classification/Notebooks/SEDs/
__MACOSX/
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO/OneLayer
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO/TwoLayer
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO/FiveLayer
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO/Alpha
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/Alpha
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Train
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Train_2
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Synth
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Synth_15000
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_ALL_Synth_15000
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_ALL_Synth_10000
Phase_3_1__IRAC_Only_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_ALL_HT_10000
Phase_3_1__IRAC_Only_Classification/Data_and_Results/*.csv
Phase_3_1__IRAC_Only_Classification/Data_and_Results/Rapson_YSO_EG_ST.tsv
Phase_3_1__IRAC_Only_Classification/Data_and_Results/c2d_ALL_HT_mag*
Phase_3_1__IRAC_Only_Classification/Data_and_Results/c2d_ALL_HT_inp_*
Phase_3_1__IRAC_Only_Classification/Data_and_Results/c2d_ALL_HT_tar_*
Phase_3_1__IRAC_Only_Classification/Notebooks/test*
Phase_3_1__IRAC_Only_Classification/Notebooks/Trial1.png
Phase_3_1__IRAC_Only_Classification/Notebooks/Data_Exploration.ipynb
Phase_3_2__IRAC+MIPS_Classification/Data/*.csv
Phase_3_2__IRAC+MIPS_Classification/Data/*.tsv
Phase_3_2__IRAC+MIPS_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Train
Phase_3_2__IRAC+MIPS_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Train_2
Phase_3_2__IRAC+MIPS_Classification/MLP_Runs_Results/YSO_EG_Stars/c2d_Synth